.collapsed-icon-toggle.collapsed .on-closed {
  display: initial;
}
.collapsed-icon-toggle.collapsed .on-opened {
  display: none;
}
.collapsed-icon-toggle .on-closed {
  display: none;
}
.collapsed-icon-toggle .on-opened {
  display: initial;
}
.scroll-v-250px {
  max-height: 250px;
  overflow-y: scroll;
}
.padding-v-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn.ico span.icon {
  opacity: 0;
}
.btn.ico.active span.icon {
  opacity: 1;
}