      <div class="row demo-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed navbar-fixed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">News Aggregator App   </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-right">
              {% if session.logged_in %}
               <li><a href="#">@{{session.username}}</a></li>
               <li><a href="/dashboard">Home</a></li>                
                <li><a href="/dash">Dashboard</a></li>
               <li><a href="/add_bookmark">Add Bookmark</a></li>
               <li><a href="/logout">Logout <span class="fui-exit"></span></a></li>
              {% else %}
                <li><a href="/">Home</a></li>                
                <li><a href="/login">Sign In</a></li>
                 <li><a href="/register">Sign Up</a></li>
                 {% endif %}
               </ul>

               
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div>



