      <div class="row demo-row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed navbar-fixed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">News Aggregator App   </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              
              {% if session.logged_in %}
              <ul class="nav navbar-nav navbar-right">
               <li><a href="/myaccount">@{{session.username}}</a></li>
               <li><a href="/dashboard">Dashboard</a></li>                
                <li><a href="/explore">Explore</a></li>
               <li><a href="/add_bookmark">Add Bookmark</a></li>
               <li><a href="/logout">Logout <span class="fui-exit"></span></a></li>
               </ul>
               {%if request.path=="/dashboard" %}
               <form class="navbar-form navbar-right" method="POST" action="" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" name="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
              {% endif %}
               
              {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>                
                <li><a href="/login">Sign In</a></li>
                 <li><a href="/register">Sign Up</a></li>
                 </ul>
                 {% endif %}
               
               
               
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div>



