{% extends 'layout.html' %}

{% block body %}


<div class="row">
<!--style="position:fixed;  float:none; display: inline-block;-->
      <div class="col-sm-2" >
     
       
  <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              
                      <a class="btn btn-block btn-index btn-md btn-primary" href="/dashboard"><strong>Unread</strong></a>
                 
          <div class="panel panel-default">
              
                  <form action="" method="post">
                      <input style="font-weight: bold;" class="btn btn-block btn-index btn-md btn-primary" type="submit" name="archive" value="Archive">
               
              
          </div>
          <div class="panel panel-default">
              
                 
                      <a class="btn btn-block btn-index btn-md btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><strong>Categories</strong></a>
                 
            
              <div id="collapseThree" class="panel-collapse collapse {% if cat %}in{% endif %}">
                <div class="panel-body">
                <form action="" method="post">
                {% for category in categories %}
                <input type="submit" name="submit" class="btn btn-block btn-index btn-md btn-inverse" value="{{ category }}">
                {% endfor %}
                </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-sm-10" style="overflow-y:scroll; height:100vh;">
{% if cat %}
<h2> {{ cat }} </h2>
{% endif %}

  {% for article in articles %}
  <div class="row animated fadeInUp">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive" src="{{article.thumb}}" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3 class="animated fadeInUp" style="margin-top:0;">{{ article.title }}</h3>
                <p class="animated fadeInUp">{{ article.description.decode("utf-8") }}</p>
                <a class="btn btn-primary" href="{{ article.url }}" target="_blank">Read Full Article <span class="glyphicon glyphicon-chevron-right"></span></a>
                <button class="btn btn-danger fui-trash delete" value="" title="Delete">
                {% if archive %}
                <button style="margin-left:1%;" class="btn btn-default fui-export archive" id="{{ article.b_id }}" title="Unarchive">
                {% else %}
                <button style="margin-left:1%;" class="btn btn-warning fui-export archive" id="{{ article.b_id }}" title="Archive">
                {% endif %}
                
            </div>
        </div>
        <hr><hr>
 
    {% endfor %}


</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
	$(".archive").click(function(){
	var id = this.id;
	var mytitle, mycontent;
	if ($("#"+id).attr("title") == "Archive"){
		mytitle = 'Want to archive?';
		mycontent = 'This post will be pushed to the Archives section';
	}
	else{
		mytitle = 'Want to unarchive?';
		mycontent = 'This post will be pushed to the Unread section';
	}
	$.confirm({
    title: mytitle,
    content: mycontent,
    buttons: {
        confirm: {
        btnClass: 'btn-blue',
        action: function () {
        	$.ajax({
			  type: "POST",
			  contentType: "application/json; charset=utf-8",
			  url: "/archive-toggle",
			  data: JSON.stringify({ "b_id" : id }),
			  success: function (stuff) {
			    if ($("#"+id).attr("title") == "Archive"){
	        		$("#"+id).removeClass('btn-warning');
		        	$("#"+id).addClass('btn-default');
		        	$("#"+id).attr("title", "Unarchive");
		        	$.alert('Bookmark Archived!');
		        }
		        else{
		        	$("#"+id).removeClass('btn-default');
		        	$("#"+id).addClass('btn-warning');
		        	$("#"+id).attr("title", "Archive");
		        	$.alert('Bookmark Unarchived!');
		        }

			  },
			  dataType: "json"
			});
        	
     
            
        }
    },
        cancel: function () {
            $.alert('Canceled!');
        }
    }
});
		
	});

</script>

{% endblock %}