{% extends 'layout.html' %}

{% block body %}


<div class="row">
<!--style="position:fixed;  float:none; display: inline-block;-->
      <div class="col-sm-2" >
     {% if cat or month or query %}
     <h2> </h2>
     {% endif %}
       
  <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              
                      <a class="btn btn-block btn-index btn-md btn-inverse" href="/dashboard"><strong>Unread</strong></a>
                 
          <div class="panel panel-default">
              
                  <form action="" method="post">
                      <input style="font-weight: bold;" class="btn btn-block btn-index btn-md btn-inverse" type="submit" name="archive" value="Archive">
               
              
          </div>
          <div class="panel panel-default">
              
                 
                      <a class="btn btn-block btn-index btn-md btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><strong>Categories</strong></a>
                 
            
              <div id="collapseThree" class="panel-collapse collapse {% if cat %}in{% endif %}">
                <div class="panel-body">
                <form action="" method="post">
                {% for category in categories %}
                <input type="submit" name="category" class="btn btn-block btn-index btn-md btn-primary" value="{{ category }}">
                {% endfor %}
                </form>
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
              
                 
                      <a class="btn btn-block btn-index btn-md btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><strong>Months</strong></a>
                 
            
              <div id="collapseFour" class="panel-collapse collapse {% if month %}in{% endif %}">
                <div class="panel-body">
                <form action="" method="post">
                {% for month in months %}
                <input type="submit" name="month" class="btn btn-block btn-index btn-md btn-primary" value="{{ month }}">
                {% endfor %}
                </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-sm-10" style="overflow-y:scroll; height:100vh;">
{% if cat %}
<h2> {{ cat }} </h2>
{% elif month %}
<h2> {{ month }} </h2>
{% elif query %}
<h2> queries matching: '{{ query }}' </h2>
{% endif %}
  {% for article in articles %}
  <div class="row animated fadeInUp">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive" src="{{article.thumb}}" alt="">
                    <h6 class="cat"><strong>#{{ article.category}}</strong></h6	>
                </a>
            </div>
            <div class="col-md-7">
                <h3 class="animated fadeInUp" style="margin-top:0;">{{ article.title }}</h3>
                <p class="animated fadeInUp">{{ article.shortdescription.decode("utf-8") }}</p>
                <a class="btn btn-primary" href="{{ article.url }}" target="_blank">Read Full Article <span class="glyphicon glyphicon-chevron-right"></span></a>
                <button class="btn btn-danger fui-trash delete" value="" id="{{ article.b_id }}-{{article.p_id}}" title="Delete">
                {% if article.read_status %}
                <button style="margin-left:1%;" class="btn btn-default fui-export archive" id="{{ article.b_id }}" title="Unarchive">
                {% else %}
                <button style="margin-left:1%;" class="btn btn-warning fui-export archive" id="{{ article.b_id }}" title="Archive">
                {% endif %}
                
            </div>
        </div>
        <hr class="first"><hr class="second">
 
    {% endfor %}


</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
	$(".archive").click(function(){
	var id = this.id;
	var mytitle, mycontent;
	if ($("#"+id).attr("title") == "Archive"){
		mytitle = 'Want to archive?';
		mycontent = 'This post will be pushed to the Archives section';
		mycancel = 'The bookmark remains unread!';
	}
	else{
		mytitle = 'Want to unarchive?';
		mycontent = 'This post will be pushed to the Unread section';
		mycancel = 'The books stays in the archive section!';
	}
	$.confirm({
    title: mytitle,
    content: mycontent,
	draggable: true,
	icon:'fa fa-archive',
	backgroundDismiss: true,
	theme:"modern",
	type:"orange",
    buttons: {
        confirm: {
        btnClass: 'btn-orange',
   		action: function () {
        	$.ajax({
			  type: "POST",
			  contentType: "application/json; charset=utf-8",
			  url: "/archive-toggle",
			  data: JSON.stringify({ "b_id" : id }),
			  success: function (stuff) {
			    if ($("#"+id).attr("title") == "Archive"){
	        		$("#"+id).removeClass('btn-warning');
		        	$("#"+id).addClass('btn-default');
		        	$("#"+id).attr("title", "Unarchive");
		        	$.alert({
       				 title: 'Bookmark successfully archived!',
        			 content: 'The bookmark will no longer appear on your dashboard!',
        			 icon:'fa fa-check',
        			 theme: "modern",
        			 type:"green"
        			     });
		        }
		        else{
		        	$("#"+id).removeClass('btn-default');
		        	$("#"+id).addClass('btn-warning');
		        	$("#"+id).attr("title", "Archive");
		        	$.alert({
       				 title: 'Bookmark successfully Unarchived!',
        			 content: 'The bookmark is back in your dashboard!',
        			 icon:'fa fa-check',
        			 theme: "modern",
        			 type:"green"
        			     });
		        }

			  },
			  dataType: "json"
			});
        	
     
            
        }
    },
        cancel: function () {
                $.alert({
       				 title: 'Cancelled!',
        			 content: mycancel,
        			 theme: "light",
        			 type:"green"
    });
        }
    }
});
		
	});


	$(".delete").click(function(){
	var id = this.id;
	$.confirm({
    title: "Confirm Delete?",
    content: "This action cannot be undone",
	draggable: true,
	icon:'fa fa-trash',
	backgroundDismiss: true,
	theme:"modern",
	type:"red",
    buttons: {
        delete: {
        btnClass: 'btn-red',
   		action: function () {
        	$.ajax({
			  type: "POST",
			  contentType: "application/json; charset=utf-8",
			  url: "/delete-bookmark",
			  data: JSON.stringify({ "b_id-p_id" : id }),
			  success: function (stuff) {
			  		$("#"+id).closest(".row").removeClass("fadeInUp");
		        	$("#"+id).closest(".row").addClass("fadeOutUp");
		        	$.alert({
       				 title: 'Bookmark deleted',
        			 content: 'The bookmark has been removed permanently',
        			 icon:'fa fa-check',
        			 theme: "modern",
        			 type:"green",
        			 buttons:{
        			 	ok: function(){
        			 		$("#"+id).closest(".row").next("hr").remove();
		        			$("#"+id).closest(".row").remove(); 
        			     }
        			 	}
        			 });
		        	

		        	},
			   dataType: "json"
			});
        	
     
            
        }
    },
        cancel: function () {
                $.alert({
       				 title: 'Cancelled!',
       				 content: "And that articles lives another day!",
        			 theme: "modern",
        			 type:"green"
    });
        }
    }
});
		
	});

</script>

{% endblock %}
{% block style %}
<style>
.cat{
	position:absolute; 
	bottom:2%; 
	left:1%; 
	background-color: #48c9b0; 
	color:#ffffff; 
	text-transform: uppercase;
	padding: 5px 5px;
	border-radius: 5%;
}
</style>
{% endblock %}