<!DOCTYPE html>
<html lang="en">


<head>

  <title>read-it-later</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}/"></script>

  <link href="{{ url_for('static',filename='css/header.css') }}" rel="stylesheet">
  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>


  <link href="{{ url_for('static',filename='css/header.css') }}" rel="stylesheet">

</head>

<body>
    <div class="container">
      {% include 'includes/_navbar.html' %}
      <br><br>
      {% include 'includes/_messages.html' %}

      {% block body %} {% endblock %}

      <footer class="footer">
          <p>&copy; read-it-later 2017</p>
      </footer>

    </div>
</body>

<script>

  $(function() {
  // get current URL path and assign 'active' class
  var pathname = window.location.pathname;
  console.log(pathname);
  $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
  $('form > label').addClass('sr-only');

});
</script>
</html>
