<!DOCTYPE html>
<html lang="en">


<head>

  <title>read-it-later</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}/"></script>
   <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
   -->

  <link href="{{ url_for('static',filename='css/header.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="static/css/flat-ui.css" rel="stylesheet">

  <link href="static/css/news_card.css" rel="stylesheet">

</head>

<body>
    <div class="container">
      {% include 'includes/_navbar.html' %}
      {% include 'includes/_messages.html' %}

      {% block body %} {% endblock %}

      <footer class="footer">
          <p>&copy; read-it-later 2017</p>
      </footer>

    </div>
</body>
{% block script %} {% endblock %}
<script>

  $(function() {
  // get current URL path and assign 'active' class
  var pathname = window.location.pathname;
  console.log(pathname);
  $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
  $('form > label').addClass('sr-only');

});
</script>
</html>
