<!DOCTYPE html>
<html lang="en">


<head>

<title>Bootstrap Flask read-it-later</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link href="{{ url_for('static',filename='css/header.css') }}" rel="stylesheet">
  <script src="../static/js/jquery-3.2.1.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" ><a href="showHome">Home</a></li>
          <li role="presentation"><a href="showSignIn">Sign In</a></li>
          <li role="presentation" class="active"><a href="showSignUp">Sign Up</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">News Aggregator App</h3>
    </div>

    <div class="jumbotron">
      <h1>Read-it-Later</h1>
      
      <div id="error_message" class="ajax_response"></div>
      <div id="success_message" class="ajax_response"></div>
      <form class="form-signin">
      <label for="inputFirstName" class="sr-only">First Name</label>
      <input type="name" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>

      <label for="inputLastName" class="sr-only">Last Name</label>
      <input type="name" name="inputLastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>

      <label for="username" class="sr-only">Username</label>
      <input type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
      
      <label for="inputRePassword" class="sr-only">Re-enter Password</label>
      <input type="password" name="inputRePassword" id="inputRePassword" class="form-control" placeholder="Re-enter Password" required autofocus>

      <input  required type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="Sign Up" />

      
      <!-- <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button> -->
    </form>
    </div>

     

    <footer class="footer">
      <p>&copy; read-it-later 2017</p>
    </footer>

  </div>



</body>
<style>

#error_message{
    background: #F3A6A6;
    
}
#success_message{
    background: #aaf9a2;

}
.ajax_response {
    padding: 10px 20px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    border: 0;
    margin: 0 auto;
    font-size: 12;
    margin-top: 20px;
    cursor: pointer;
    display:none;
    color:white;

}
</style>
<script>
$(function() {
    $('form.form-signin').on('submit', function (e){
        e.preventDefault();

        $.ajax({
            url: '/signUp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(data) {
              console.log(data)
              if(data.type === 'msg'){

              $('#success_message').fadeIn("slow").text(data.msg);

              setTimeout(function() {
                  $('#success_message').fadeOut("slow");
               }, 3000 );
              
              $('form.form-signin')[0].reset()
            }
            else{
              $('#error_message').fadeIn("slow").text(data.msg);

              setTimeout(function() {
                  $('#error_message').fadeOut("slow");
               }, 3000 ); 

            }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>
</html>